<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-auth.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.2.1/firebase-messaging.js"></script>

<script>
  const firebaseConfig = {
    apiKey: "AIzaSyCl3ncPk3XOmn-pT-5Xet9UFYxEMz--jVE",
    authDomain: "riftvalley-carriers-project.firebaseapp.com",
    projectId: "riftvalley-carriers-project",
    storageBucket: "riftvalley-carriers-project.appspot.com",
    messagingSenderId: "277861847457",
    appId: "1:277861847457:web:83a1643b691da99160fbe0",
    measurementId: "G-R2JC67RFG6"
  };

    firebase.initializeApp(firebaseConfig);
</script>
